<nav>
  <img src="../assets/image.png" alt="JotBoardIcon" id="navbarLogo">
  &nbsp;
  <a routerLink="/newNote" class="navbarElement">New Note</a>
  &nbsp;
  <a routerLink="/viewNotes" class="navbarElement">View Note</a>
</nav>



  <!-- <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid headingDiv">
    <img src="../assets/image.png" alt="Logo" width="160" height="50" class="d-inline-block align-text-top">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#">Add New Note</a>
        <a class="nav-link" href="#">View Notes</a>

      </div>
    </div>
  </div>
</nav> -->



<!-- </div> -->
<router-outlet></router-outlet>
<!-- <app-add-todo></app-add-todo> -->
<!-- <app-view-todo></app-view-todo> -->
