<div class="container-fluid">

    
    <div class="col-md-4 offset-md-3">
    <form action="">
    <label for="enterNote" class="noteLabel">Write your note here</label>
    <!-- <input type="text" name="newTodo" id="newTodo" [(ngModel)] = newTodo placeholder="Enter Note" id="noteInput"> -->
    <br>
    <textarea name="newNote" id="noteInput" placeholder="Enter text here" autofocus [(ngModel)] = newTodo></textarea>
    
    <br>
    <br>
    <button (click)="addTodo()" class="btn animated-btn noteBtn" type="reset">Add Note</button>
    &nbsp;
    <button class="btn resetBtn animated-btn-reset noteBtn " type="reset">Clear</button>
    </form>

 
    

</div>


</div>







 

